@import "tailwindcss";

:root{

--brown:#6F4E37;
--brown-dark:#4B2E2B;

--cream:#FFF8F0;

--white:#FAF9F6;

--pink:#EC4899;

--gold:#FACC15;

--lavender:#E9D5FF;

}

*{

margin:0;
padding:0;
box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

font-family:"Poppins",sans-serif;

background:var(--cream);

color:var(--brown-dark);

overflow-x:hidden;

}

img{

display:block;

max-width:100%;

}

button{

cursor:pointer;

}

::-webkit-scrollbar{

width:8px;

}

::-webkit-scrollbar-thumb{

background:var(--brown);

border-radius:999px;

}

::-webkit-scrollbar-track{

background:white;

}